<div class="sigesc sigesc-list-item">
    <div class="sigesc-cover">
        <img src="https://placehold.co/600x400/000000/blue/png" alt="Temporario">
    </div>
    <div class="sigesc-title-container">
        <h2 class="sigesc-title"> Portal SEE</h2>
    </div>

    <!--
    <div class="sigesc-author">
        <span class="sigesc-author-item">
            <i class="fas fa-user"></i>
            Otávio Miranda
        </span>
        <span class="sigesc-author-item">
            <i class="fas fa-calendar-alt"></i>
            16/10/2021 às 11:21
        </span>
        <span class="sigesc-author-item">
            <a href="/sigesc/category/aulas/">
                <i class="fas fa-layer-group"></i>
                <span>Aula prática</span>
            </a>
        </span>
    </div>-->

    <div class="sigesc-content">
        <p> Acesso a Gestores Regionais </p>
    </div>
    <!--
    <div class="sigesc-meta-container">
        <div class="sigesc-meta recipe-preparation">
            <h3 class="sigesc-meta-title"><i class="fas fa-stopwatch"></i> Horário</h3>
            <div class="sigesc-meta-text">
                10:00h
            </div>
        </div>
        <div class="sigesc-meta recipe-servings">
            <h3 class="sigesc-meta-title"><i class="fas fa-tshirt"></i>
                Vestimenta</h3>
            <div class="sigesc-meta-text">
                Camiseta, calça jeans, tênis.
            </div>
        </div>
    </div> -->

    <footer class="sigesc-footer">
        <a class="sigesc-read-more button button-dark button-full-width" href="/sigesc/3/">
            <i class="fas fa-eye"></i>
            <span>Clique aqui para entrar</span>
        </a>
    </footer>
</div>

<div class="sigesc sigesc-list-item">
    <div class="sigesc-cover">
        <img src="https://placehold.co/600x400/000000/blue/png" alt="Temporario">
    </div>
    <div class="sigesc-title-container">
        <h2 class="sigesc-title"> Portal da Escola</h2>
    </div>

    <!--
    <div class="sigesc-author">
        <span class="sigesc-author-item">
            <i class="fas fa-user"></i>
            Otávio Miranda
        </span>
        <span class="sigesc-author-item">
            <i class="fas fa-calendar-alt"></i>
            16/10/2021 às 11:21
        </span>
        <span class="sigesc-author-item">
            <a href="/sigesc/category/aulas/">
                <i class="fas fa-layer-group"></i>
                <span>Aula prática</span>
            </a>
        </span>
    </div>-->

    <div class="sigesc-content">
        <p> Acesso a gestores e secretrários escolares </p>
    </div>
    <!--
    <div class="sigesc-meta-container">
        <div class="sigesc-meta recipe-preparation">
            <h3 class="sigesc-meta-title"><i class="fas fa-stopwatch"></i> Horário</h3>
            <div class="sigesc-meta-text">
                10:00h
            </div>
        </div>
        <div class="sigesc-meta recipe-servings">
            <h3 class="sigesc-meta-title"><i class="fas fa-tshirt"></i>
                Vestimenta</h3>
            <div class="sigesc-meta-text">
                Camiseta, calça jeans, tênis.
            </div>
        </div>
    </div> -->

    <footer class="sigesc-footer">
        <a class="sigesc-read-more button button-dark button-full-width" href="/sigesc/3/">
            <i class="fas fa-eye"></i>
            <span>Clique aqui para entrar</span>
        </a>
    </footer>
</div>

<div class="sigesc sigesc-list-item">
    <div class="sigesc-cover">
        <img src="https://placehold.co/600x400/000000/blue/png" alt="Temporario">
    </div>
    <div class="sigesc-title-container">
        <h2 class="sigesc-title"> Portal do Professor</h2>
    </div>

    <!--
    <div class="sigesc-author">
        <span class="sigesc-author-item">
            <i class="fas fa-user"></i>
            Otávio Miranda
        </span>
        <span class="sigesc-author-item">
            <i class="fas fa-calendar-alt"></i>
            16/10/2021 às 11:21
        </span>
        <span class="sigesc-author-item">
            <a href="/sigesc/category/aulas/">
                <i class="fas fa-layer-group"></i>
                <span>Aula prática</span>
            </a>
        </span>
    </div>-->

    <div class="sigesc-content">
        <p> Acesso a professores</p>
    </div>
    <!--
    <div class="sigesc-meta-container">
        <div class="sigesc-meta recipe-preparation">
            <h3 class="sigesc-meta-title"><i class="fas fa-stopwatch"></i> Horário</h3>
            <div class="sigesc-meta-text">
                10:00h
            </div>
        </div>
        <div class="sigesc-meta recipe-servings">
            <h3 class="sigesc-meta-title"><i class="fas fa-tshirt"></i>
                Vestimenta</h3>
            <div class="sigesc-meta-text">
                Camiseta, calça jeans, tênis.
            </div>
        </div>
    </div> -->

    <footer class="sigesc-footer">
        <a class="sigesc-read-more button button-dark button-full-width" href="/sigesc/3/">
            <i class="fas fa-eye"></i>
            <span>Clique aqui para entrar</span>
        </a>
    </footer>
</div>